// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

.tour-title {
    color: #fff;
    text-align: center;
    padding: 15px 0;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity 0.33s ease-out;
}

.tour-title-visible {
    opacity: 0.65;
}

.x-img {
    background-position: center;
    background-color: #000;
}

.x-carousel-inner {
    background-color: #000;
}

.x-carousel-indicator-dark span {
    background-color: #eee;
    opacity: 0.25;
}

.x-carousel-indicator-dark span.x-carousel-indicator-active  {
    background-color: #aaa;
    opacity: 0.9;
}