.x-toolbar-dark {
	background-color: transparent;
	background-image: url(../images/cloth_pattern.jpg);
	background-repeat: repeat-x;
	height: 80px;				
}

.x-toolbar.x-docked-top {
	border-bottom: none;
}

.logo img {
	display: block;
	margin: auto;
	padding-top: 10px;
}

.x-dock-body {
	h4, p {
		color: #ffffff;
	}
}

.about-pane {
	background-image: url(../images/kanga_pattern.jpg);
	
	.info-pane {
		background-color: #F5F5F5;
		padding: 10px;
		border-radius: 0px 0px 10px 10px;
		
		h3 {
			color: #0F6A40;
		}
		
		p {
			color: #414042;
		}
	}
} 
.about {
	
	.x-tabbar {
		padding-left: 0px;
		padding-right: 0px;
		
		.x-tab {
			width: 34%;
			padding-top: 11px;
			height: 46px;
			padding-bottom: 5px;	
			border-radius: 0;
			border-right: 1px solid #126a40;
			
			.x-button-label {
				text-align: left;
				font-weight: normal;
				text-shadow: none;
			}	
		}		
		
		.x-tabbar-inner {
//			div:nth-child(3) {
//				width: 34%;
//			}
//			div:nth-child(2) {
//				width: 33%;
//			}
//			div:nth-child(1) {
//				width: 33%;
//			}
		}
	}

		
	.x-tabbar-dark.x-docked-top .x-tab-active {
		background-image: none;
		background-color: #126a40;			
	}		
	
	.x-tabbar-dark {
		background-image: none;
		background-color: #25b466;
		
		.x-tab {
			color: #ffffff;
		}
	}
}