.x-toolbar-dark {
	background-color: transparent;
	background-image: url(../images/cloth_pattern.jpg);
	background-repeat: repeat-x;
	height: 80px;				
}

.x-toolbar.x-docked-top {
	border-bottom: none;
}

.logo img {
	display: block;
	margin: auto;
	padding-top: 10px;
}

.x-dock-body {
	background-color: #000000;
	background-image: url(../images/home_bg.png);
	background-repeat: no-repeat;
	
	h4, p {
		color: #ffffff;
	}
}